.home-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
}

.home-title {
    font-size: 40px;
    font-weight: 600;
    color: #222;
    margin: 20;
}

.add-topic {
    display: flex;
    align-items: center;
    gap: 12px;
}

.add-topic-text {
    font-size: 16px;
    color: #555;
    font-weight: 500;
}


.add-topic:hover .add-topic-text {
    color: #9c27b0;
}


@media (max-width: 768px) {
    .home-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .add-topic {
        align-self: flex-end;
    }
}